{% extends "base.html.twig" %}

{% block body %}
<div class="w-4/5 m-auto pt-40">
    <h1 class="text-6xl text-center pb-12">
        Register
    </h1>
{{ form_start(form) }}

    {{ form_widget(form) }}
    <button    
            type="submit">
            Register
        </button>
    {{ form_end(form) }}
    <br><br>
    <p>Existing User:<a href="/login">Login</a></p>
</div>
{% endblock %}